# Unity
/MyProyect/[Ll]ibrary/
/MyProyect/[Tt]emp/
/MyProyect/[Oo]bj/
/MyProyect/[Bb]uild/
/MyProyect/[Bb]uilds/
/MyProyect/[Ll]ogs/
/MyProyect/[Uu]ser[Ss]ettings/

# VS/MD specific files
*.sln
*.csproj
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
