# Unity
/My project/[Ll]ibrary/
/My project/[Tt]emp/
/My project/[Oo]bj/
/My project/[Bb]uild/
/My project/[Bb]uilds/
/My project/[Ll]ogs/
/My project/[Uu]ser[Ss]ettings/

# VS/MD specific files
*.sln
*.csproj
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
